language: python
python:
- '3.6'
before_install:
- openssl aes-256-cbc -K $encrypted_34d1a249d85c_key -iv $encrypted_34d1a249d85c_iv
  -in src/db/sql_config.json.enc -out src/db/sql_config.json -d
install:
- pip install -r requirements.txt
- pip install -U pytest

script:
# py.test will load configuration from setup.cfg
- py.test

addons:
  ssh_known_hosts:
    - waterfall.wwyf.top
before_deploy:
- openssl aes-256-cbc -K $encrypted_70ca040df3bb_key -iv $encrypted_70ca040df3bb_iv
  -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa
deploy:
  provider: script
  skip_cleanup: true
  deploy: ssh wyf@waterfall.wwyf.top "cd Waterfall/Waterfall-backend && git pull"
  on:
    branch: master

