language : python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install -U pytest
  
script: 
  - echo "{ \"username\": \"test\",\"password\": \"test\", \"host\": \"test\", \"database\":\"waterfall\"}"  > src/db/sql_config.json
  - py.test